body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    text-align: center;
}
.dialogBox{
    
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
}
#priority{
    display: flex;
    flex-direction: column;
    align-content: center;
}